@*在View檢視頁面使用IPagedList型別的@Html.PagedListPager()方法*@
@using PagedList.Mvc
@using PagedList

@model IPagedList<prjNightMarket.Models.NightMarket>

@{
    ViewBag.Title = "台中各大夜市資訊";
}
@*引用PagedList套件的樣式檔，負責分頁的按鈕排版和樣式，安裝套件時，會自動新增至Conent資料夾下*@
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>台中各大夜市</h2>
<p>
    @Html.ActionLink("請登入","Create","Member")如果您沒有帳戶
</p>
<div class="row">
    @foreach(var item in Model)
    {
        string imgsrc = @item.Id + ".jpg";
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="~/images/@imgsrc" style="width:100%;height:300px" />
                <div class="caption">
                    <h2>@item.Name</h2>
                    <p>@item.Address</p>
                    <p><a href="https://www.google.com.tw/maps/place/@item.Address" class="btn btn-success">google 地圖</a></p>
                </div>
            </div>
        </div>
    }
</div>





@*第一個參數是指定要顯示的Model，第二個參數是指定要連結的動作方法和頁次*@
@Html.PagedListPager(Model,page => Url.Action("Index",new { page }))
