@*在View檢視頁面使用IPagedList型別的@Html.PagedListPager()方法*@
@using PagedList.Mvc
@using PagedList

@model IPagedList<prjNightMarket.Models.NightMarket>

@{
    ViewBag.Title = "台中各大夜市";
}
@*引用PagedList套件的樣式檔，負責分頁的按鈕排版和樣式，安裝套件時，會自動新增至Conent資料夾下*@
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>台中各大夜市</h2>


<p>
    @Html.ActionLink("請登入","Create","Member")如果您沒有帳戶
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>編號</th>
        <th>名稱</th>
        <th>地址</th>
        <th>圖片</th>
        <th>google地圖</th>
    </tr>

@foreach (var item in Model) {
    string imgSrc = @item.Id + ".jpg";
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <img src="~/images/@imgSrc" width="200" />
        </td>
        <td>
            <a href="https://www.google.com.tw/maps/place/@item.Address"
                class="btn btn-info">
                google地圖
            </a>
        </td>
    </tr>
}
</table>

@*第一個參數是指定要顯示的Model，第二個參數是指定要連結的動作方法和頁次*@
@Html.PagedListPager(Model,page => Url.Action("Index",new { page }))
